---
Checks: "bugprone-*,concurrency-*,clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*"
WarningsAsErrors: ""
HeaderFilterRegex: ""
ExcludeHeaderFilterRegex: '.*/[miniaudio\.h|doctest\.h'
FormatStyle: none
...

